#grid-ui {
	display: grid;
	grid-template-columns: auto 300px; /* Adjust the sidebar width as needed */
	grid-template-rows: auto 1fr; 
	height: 100vh; 
	gap: 5px;
}

#toolbar {
	grid-column: 1 / -1;
	grid-row: 1;
	border: 1px solid silver
}

#query-editor {
	grid-column: 1;
	grid-row: 2;
	border: 1px solid silver
}

#sidebar {
	grid-column: 2;
	grid-row: 2;
	border: 1px solid silver
}