@page "/"

<PageTitle>Zinger</PageTitle>

<main id="grid-ui">	
	<div id="toolbar" class="center">
		<div>toolbar</div>
	</div>
	<div id="query-editor" class="center">
		<div>query editor</div>
	</div>
	<div id="sidebar" class="center">
		<div>sidebar</div>
	</div>	
</main>